In [259]:
import pandas as pd
from pymongo import MongoClient
import redshift_connector
import datetime
import numpy as np
import utils
from haversine import haversine, Unit
import consultas

In [260]:
MONGO_URI_CLUSTER0 = 'mongodb+srv://data:YEJLe5i8yf65StWG@cluster0-production.8edso.mongodb.net/verifications?retryWrites=true&w=majority'
MONGO_URI_ANALYTICS = 'mongodb+srv://data:YEJLe5i8yf65StWG@cluster-analytics.8edso.mongodb.net/?retryWrites=true&w=majority'

In [261]:
# analizamos desde el 1-10-2023
# por día, necesitamos los dealers activos y los que se dieron de baja.

In [262]:
# funciones para consultar las db

def redshift_query(query):
    #redshift conn
    conn = redshift_connector.connect(
        host = "karvi-redshift-production.cizkpgaflsne.us-east-1.redshift.amazonaws.com",
        database = "prod",
        user = "data_reporting",
        password = "Reporting2023")
    cur = conn.cursor()
    cur.execute(query)
    resultado = cur.fetchall()
    #dataframe with response
    df_resultado = pd.DataFrame(resultado)
    #column names
    resultado = cur.fetch_dataframe()
    df_resultado.columns = resultado.columns
    conn.close()
    return(df_resultado)

def mongo_query(MONGO_URI, db_name, collection_name, pipeline):
    client = MongoClient(MONGO_URI)
    db = client[db_name]
    collection = db[collection_name]
    result = list(collection.aggregate(pipeline))
    df = pd.DataFrame(list(result))
    return df


## queries 

# Esta query trae los dealers junto con sus datos actuales (stage actual, fecha de salida si la hubiera)

query_deals = '''
select po.data_assinatura_contrato, 
--esto es para cruzar con deal flow
pd.id as deal_id,
po.dealer_id as id_dealer,
title, 
org_name, 
stage_id, 
stage_name, 
active, pd.add_time, 
po.data_saida
from silver.pipedrive_deals pd 
left join silver.pipedrive_organizations po 
on pd.org_id = po.id 
where pd.pipeline_id  = 42
AND (lost_reason NOT IN ('Teste | Prueba', '#Duplicado') OR lost_reason IS NULL)
'''

# Esta query trae los dealers con todos sus cambios de stage
query_deals_stages ='''
select po.data_assinatura_contrato, 
--esto es para cruzar con deal flow
pd.id as deal_id,
po.dealer_id as id_dealer,
pd.pipeline_id,
title, 
org_name, 
stage_id, 
stage_name, 
active, 
pd.add_time, 
po.data_saida,
pdfs.log_time as date_stage_change,
pdfs.old_stage_id,
pdfs.old_stage_name,
pdfs.new_stage_id,
pdfs.new_stage_name
--cte.last_pause_date,
--cte.count_pauses
from silver.pipedrive_deals pd 
left join silver.pipedrive_organizations po 
on pd.org_id = po.id 
left join silver.pipedrive_deal_flow_stages pdfs
on pd.id = pdfs.deal_id
where pd.pipeline_id  = 42
and pdfs.new_pipeline_id = 42
AND (lost_reason NOT IN ('Teste | Prueba', '#Duplicado') OR lost_reason IS NULL)
'''

#con esta consulta me traigo todo el stock
def stock_query():
    query = [

        {
            "$project": {
                "Fecha": "$date",
                "hashIndex": "$hashIndex",
                "storeID": "$storeID",
                "placa": "$placa",
                "carType": "$carType",
                "_id": 0
            }
        }
    ]
    return query

# leads enviados
def pipedrive_query(month, date):
    query = f"""
   select pslv.fecha, 
    pslv.oferta_activa as id_publication, 
    pslv.id_dealer as hash_index, 
    pslv.deal_id, 
    pslv.segmento, 
    p.momento_compra,
    p.follow_up_enviado,
    pslv.follow_up_respuesta,
    p.forma_de_pagamento,
    p.timeframe,
    p.botmaker_link,
    p.exchange_vehicle
    from silver.pipedrive_sent_leads_v pslv 
    left join silver.pipedrive_deals p
    on pslv.deal_id = p.id
    where fecha >= '{month}'
    and fecha <= '{date}'
    """
    return query

In [263]:
#funciones para crear variables

def add_pipedrive_vars(pipedrive_df, dealers_df):
    df = get_distances(pipedrive_df, dealers_df, MONGO_URI_ANALYTICS)
    df = pipedrive_df
    df['momento_compra'] = df['momento_compra'].map({
        'Talvez ainda neste mês': 'Month',
        'Ainda nesta semana!': 'Week',
        'N/A': 'Dont know',
        None: 'No question / no answer'
    })

    #mapeo los momentos de compra
    df["momento_compra_tag"] = df.momento_compra.map({
        'No question / no answer': 0,
        'Dont know': 1,
        'Month': 2,  #juntar
        'Week': 2,  #juntar
        np.nan: 0
    })

    df['momento_visita'] = df['timeframe'].map({
        'Dentro de 15 dias': '2_weeks',
        'Nos próximos 7 dias': 'Week',
        'Amanhã': "Tomorrow",
        'Ainda não sei': 'Dont know',
        None: 'No question / no answer'})

    df["momento_visita_tag"] = df.momento_visita.map({
        'No question / no answer': 0,
        '2_weeks': 1,
        'Dont know': 1,
        'Week': 2,  #juntar
        'Tomorrow': 2,  #juntar
        np.nan: 0
    })

    # timeframe junta ambas. Se queda con el tag más optimista
    df['timeframe'] = np.where(df.momento_compra_tag < df.momento_visita_tag, df.momento_visita_tag, df.momento_compra_tag)
    #hago dummies con timeframe
    df = pd.get_dummies(df, columns=['timeframe'])
    df.loc[df['timeframe_0'], ['timeframe_1', 'timeframe_2']] = None

    mapeo_vehiculo = {"Não": False, "Sim": True}

    df['vehiculo'] = df.exchange_vehicle.map(mapeo_vehiculo)

    valores_nulos_financiamiento = df['forma_de_pagamento'].isnull()
    resultado_financiamiento = df.loc[~valores_nulos_financiamiento, 'forma_de_pagamento'].str.contains("Financiam")
    df['financiamiento'] = None
    df.loc[~valores_nulos_financiamiento, 'financiamiento'] = resultado_financiamiento

    #los que no tienen segmento van a 0
    df["segmento"] = df["segmento"].fillna('0')
    #armo dummies para segmentos
    df = pd.get_dummies(df, columns=["segmento"])
    df.loc[df['segmento_0'], ['segmento_1', 'segmento_2', 'segmento_3']] = None

    return df


def get_distances(pipedrive_df, dealers_df, MONGO_URI):

    pipedrive_df.loc[: , "hash_index"] = pd.to_numeric(pipedrive_df["hash_index"])
    #id del lead
    deal_ids_list = pipedrive_df["deal_id"].tolist()
    query = consultas.ip_query(deal_ids_list)

    df_dealer_ads_user = utils.mongo_query(MONGO_URI, 'growth', 'dealer_ads_user', query)

    #ip del lead
    ips_list = df_dealer_ads_user.ip_address.to_list()

    query = consultas.lat_long_lead_query(ips_list)

    #geoloc del lead
    geoloc_df = utils.mongo_query(MONGO_URI, 'data-team', 'ip-geoloc', query)

    leads_location_df = df_dealer_ads_user.merge(geoloc_df,
                                                 left_on="ip_address",
                                                 right_on="user_ip")

    leads_location_df.columns = ["ip_address", "deal_id", "ip", "lead_latitude", "lead_longitude"]

    #geoloc de lead y dealer
    lats_longs_df = pipedrive_df[["hash_index", "deal_id"]].merge(leads_location_df,
                                                                  on="deal_id",
                                                                  how='left').merge(
        dealers_df[["hash_index", "dealer_latitude", "dealer_longitude"]].drop_duplicates(),
        on="hash_index",
        how='left')

    lats_longs_df["distance"] = lats_longs_df[
        ['lead_longitude', 'lead_latitude', 'dealer_longitude', 'dealer_latitude']].apply(
        lambda row: haversine(
            (row['lead_latitude'],
             row['lead_longitude']),
            (row['dealer_latitude'],
             row['dealer_longitude'])
        ) if not row.isnull().any() else np.nan,
        axis=1
    )

    #alert
    lats_longs_df["alerta"] = np.where(lats_longs_df["distance"].isna(), np.nan, lats_longs_df["distance"] > 30)

    pipedrive_df = pipedrive_df.merge(
        lats_longs_df[["deal_id", "hash_index", "distance", "alerta"]],
        left_on=["deal_id", "hash_index"],
        right_on=["deal_id", "hash_index"],
        how='left'
    )

    pipedrive_df = pipedrive_df.drop_duplicates()
    
    return (pipedrive_df)


def init_dealers_df(query_deals):

    #Ejecuto query para los dealers
    pipe_deals = redshift_query(query_deals)
    pipe_deals.loc[: , 'fecha_baja'] = pd.to_datetime(pipe_deals['data_saida'], errors='coerce')
    pipe_deals.loc[: , 'fecha_alta'] = pd.to_datetime(pipe_deals['data_assinatura_contrato'], errors='coerce')
    cols = ['id_dealer', 'fecha_alta', 'fecha_baja']
    pipe_deals = pipe_deals[cols]
    dealers = pipe_deals.id_dealer.unique().tolist()
    df = pd.DataFrame()
    current_date =datetime.date.today()
    # recorro los dealers
    for dealer in dealers:
        # sus dias de existencia corresponden a todos los que estan entre su fecha de inicio de contrato y su fecha de baja (si no tiene baja, va la feecha actual)
        dates = pipe_deals.loc[pipe_deals['id_dealer']==dealer, ['fecha_alta', 'fecha_baja']]
        dates['fecha_baja'] = dates['fecha_baja'].fillna(current_date)
        datetime_idx = pd.date_range(end=dates['fecha_baja'].values[0],
                                     start=dates['fecha_alta'].values[0],
                                     freq='D')
        dealer_idx = [dealer] * len(datetime_idx)
        temp_df = pd.DataFrame({'foto_dia': datetime_idx, 'id_dealer': dealer_idx})
        df = pd.concat([df, temp_df])

    df = df.merge(pipe_deals,
                  on='id_dealer',
                  how='left')

    df[['fecha_alta','fecha_baja', 'foto_dia']] = df[['fecha_alta','fecha_baja', 'foto_dia']].apply(pd.to_datetime)
    #marco las bajas
    df['baja'] = np.where(df.foto_dia == df.fecha_baja, True, False)
    #calculo antiguedad
    df['antiguedad'] = (df['foto_dia'] - df['fecha_alta']).dt.days
    #convierto a date la fotodia
    df.loc[: , 'foto_dia'] = df.foto_dia.dt.date
    return df


#en stages necesitamos saber por día en qué estado estaba cada dealer.
def add_stage_by_day(df, cumsum = True):
    #Ejecuto query para los stages de los dealers
    stages_df = redshift_query(query_deals_stages)
    cols = ['id_dealer', 'date_stage_change', 'new_stage_name']
    stages_df = stages_df[cols]
    #stages_df = pipe_deals_stages[['id_dealer','date_stage_change', 'new_stage_id','new_stage_name']]
    stages_df.loc[: ,'date_stage_change'] = pd.to_datetime(stages_df['date_stage_change'], errors='coerce', unit='D').dt.date
    #agrego los dias de cambio de estado
    df = df.merge(stages_df,
                  left_on=['id_dealer', 'foto_dia'],
                  right_on=['id_dealer', 'date_stage_change'],
                  how='left')

    # Ordenar por id y fecha
    df = df.sort_values(by=['id_dealer', 'foto_dia'])

    # Llenar los valores faltantes dentro de cada grupo
    df['foto_stage'] = df.groupby('id_dealer')['new_stage_name'].ffill()
    df.drop(['date_stage_change', 'new_stage_name'], axis=1, inplace=True)
    
    if cumsum:
        df = get_cum_foto_stages(df)
    
    df = df.drop_duplicates()
    return df

def add_stock_by_day(df):
    #creacion del stock
    stock_datastudio = pd.read_csv('stock_datastudio.csv')
    #todos los autos en mongo
    stock_mongo = mongo_query(MONGO_URI_ANALYTICS, 'data-team', 'stock_diario', stock_query())
    stock_mongo['hashIndex'] = stock_mongo['hashIndex'].astype(int)
    stock_datastudio['hashIndex'] = stock_datastudio['hashIndex'].astype(int)
    stock = pd.concat([stock_mongo, stock_datastudio])
    stock = stock.drop_duplicates()
    stock_count = stock.groupby(['storeID', 'Fecha'], as_index=False).agg(stock = ('hashIndex', 'nunique'))
    stock_count['foto_dia'] = pd.to_datetime(stock_count['Fecha'], format='%Y%m%d')
    stock_count.drop('Fecha', axis=1, inplace=True)
    stock_count = stock_count.rename(columns={'storeID': 'id_dealer'})
    #agrego el stock al df
    df = df.merge(stock_count, how='left')
    return df


def get_cum_foto_stages(df):
    # Calcular la variable acumulativa para cada stage y por cada ID
    dummies = pd.get_dummies(df['foto_stage'], prefix='foto_stage')
    #df.groupby(['id_dealer', 'foto_stage'])['dias_en_stage'].cumsum()
    df_temp = pd.concat([df, dummies], axis=1)
    for col in dummies.columns:
        col_name = f'days_in_{col}'
        df_temp.loc[: , col_name] = df_temp.groupby('id_dealer', as_index=False)[col].transform(pd.Series.cumsum)
        df_temp.drop(col, axis=1, inplace=True)
    return df_temp

ejecución de las queries

In [327]:
#con esto inicializo el df de dealers: obtengo todos los días desde que inicio su contrato hasta que lo finalizó (si no finalizó, hasta el día de hoy)
df = init_dealers_df(query_deals)

In [328]:
df.head()

    foto_dia  id_dealer fecha_alta fecha_baja   baja  antiguedad
0 2023-07-04     2847.0 2023-07-04        NaT  False           0
1 2023-07-05     2847.0 2023-07-04        NaT  False           1
2 2023-07-06     2847.0 2023-07-04        NaT  False           2
3 2023-07-07     2847.0 2023-07-04        NaT  False           3
4 2023-07-08     2847.0 2023-07-04        NaT  False           4

In [329]:
#agrego stages por dia + suma acumulada
df = add_stage_by_day(df, cumsum=True)

In [330]:
#check variables de stages with a dealer
df[df.id_dealer == 4289232776].sort_values(['id_dealer', 'foto_dia']).to_csv('ejemplo_dealer.csv')

In [331]:
#agrego stock por dia
df = add_stock_by_day(df)
df

,foto_dia,id_dealer,fecha_alta,fecha_baja,baja,antiguedad,foto_stage,days_in_foto_stage_Amarelo,days_in_foto_stage_Dealers ativos,days_in_foto_stage_Desativados (Decisão da Karvi),days_in_foto_stage_Pausados (Pedido do Dealer),days_in_foto_stage_Saíram do projeto,days_in_foto_stage_Serasa,days_in_foto_stage_Verde,days_in_foto_stage_Vermelho,stock
0,2023-10-30,1.065000e+03,2023-10-30,NaT,False,0,NaN,0,0,0,0,0,0,0,0,NaN
1,2023-10-31,1.065000e+03,2023-10-30,NaT,False,1,NaN,0,0,0,0,0,0,0,0,NaN
2,2023-11-01,1.065000e+03,2023-10-30,NaT,False,2,NaN,0,0,0,0,0,0,0,0,1.0
3,2023-11-02,1.065000e+03,2023-10-30,NaT,False,3,NaN,0,0,0,0,0,0,0,0,26.0
4,2023-11-03,1.065000e+03,2023-10-30,NaT,False,4,NaN,0,0,0,0,0,0,0,0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50589,2024-04-20,4.289233e+09,2023-11-08,NaT,False,164,Verde,15,5,0,0,0,0,130,0,78.0
50590,2024-04-21,4.289233e+09,2023-11-08,NaT,False,165,Verde,15,5,0,0,0,0,131,0,78.0
50591,2024-04-22,4.289233e+09,2023-11-08,NaT,False,166,Verde,15,5,0,0,0,0,132,0,78.0
50592,2024-04-23,4.289233e+09,2023-11-08,NaT,False,167,Verde,15,5,0,0,0,0,133,0,77.0
50593,2024-04-24,4.289233e+09,2023-11-08,NaT,False,168,Verde,15,5,0,0,0,0,134,0,NaN

In [332]:
df[df.id_dealer == 4289232776].sort_values(['id_dealer', 'foto_dia']).to_csv('ejemplo_dealer.csv')

In [333]:
#agrego variables de pipedrive

In [334]:
#fecha desde la que queremos hacer el análisis
start = datetime.datetime(2023, 10, 1)
end = datetime.datetime.today()
#ejecucion de query de pipedrive
pipedrive_df = redshift_query(pipedrive_query(start, end))

In [335]:
hash_index = df.id_dealer.tolist()
query = consultas.dealers_query(hash_index)
dealers_data = utils.mongo_query(MONGO_URI_CLUSTER0, "dealers", "stores", query)
#df_ = df.merge(dealers_data, left_on='id_dealer', right_on='hash_index', how='left')

In [336]:
#buscamos variables de pipedrive

In [337]:
pipedrive_df['fecha'] = pd.to_datetime(pipedrive_df['fecha'], errors='coerce')

pipedrive_modeled = add_pipedrive_vars(pipedrive_df, dealers_data)

/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_15542/303505598.py:42: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['timeframe_0'], ['timeframe_1', 'timeframe_2']] = None
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_15542/303505598.py:42: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['timeframe_0'], ['timeframe_1', 'timeframe_2']] = None
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_15542/303505598.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['segmento_0'], ['segmento_1', 'segmento_2', 'segmento_3']] = None
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_15542/303505598.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['segmento_0'], ['segmento_1', 'segmento_2', 'segmento_3']] = None
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_15542/303505598.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['segmento_0'], ['segmento_1', 'segmento_2', 'segmento_3']] = None

In [338]:
pipedrive_modeled = pipedrive_modeled.drop_duplicates()

In [339]:
sent_leads_df = pipedrive_df.groupby(['hash_index', 'fecha'], as_index=False).deal_id.nunique()

In [340]:
cols = ['hash_index', 'fecha', 'financiamiento', 'vehiculo', 'alerta', 'segmento_0', 'segmento_1', 'segmento_2', 'segmento_3', 'timeframe_0', 'timeframe_1', 'timeframe_2']

#sin alerta
cols = ['hash_index', 'fecha', 'financiamiento', 'vehiculo', 'segmento_0', 'segmento_1', 'segmento_2', 'segmento_3', 'timeframe_0', 'timeframe_1', 'timeframe_2']

In [341]:
#pipedrive_modeled['fecha'] = pd.to_datetime(pipedrive_modeled['fecha'], errors='coerce')

In [342]:
pipedrive_modeled = pipedrive_modeled[cols]

# df with dealers values

In [343]:
# cuento por dia cuantos tuvieron los dealers de cada uno
#cuenta los true
counts_por_grupo = pipedrive_modeled.groupby(['hash_index', 'fecha'], as_index=False).sum()
#agrego dias en los que no hubo leads enviados
counts_por_grupo = df[['id_dealer', 'foto_dia']].merge(counts_por_grupo,
                                                       left_on=['id_dealer', 'foto_dia'],
                                                       right_on=['hash_index', 'fecha'],
                                                       how='left')

counts_por_grupo.drop(['hash_index', 'fecha'], axis=1, inplace=True)

counts_por_grupo.iloc[:, 2:] = counts_por_grupo.iloc[:, 2:].fillna(0).astype(int)
counts_por_grupo = counts_por_grupo.drop_duplicates()

In [344]:
counts_por_grupo[counts_por_grupo.id_dealer == 4289232776.0].to_csv('ejemplo_dealer.csv')

In [345]:

sent_leads_df = sent_leads_df.rename(columns={
    'hash_index':'id_dealer',
    'fecha': 'foto_dia',
    'deal_id': 'sent_leads'
})

sent_leads_df = sent_leads_df.merge(counts_por_grupo,
                                    how='right',
                                    left_on=['id_dealer', 'foto_dia'],
                                    right_on=['id_dealer', 'foto_dia'])

sent_leads_df['sent_leads'] = sent_leads_df['sent_leads'].fillna(0)

cols = ['hash_index', 'fecha', 'sent_leads', 'financiamiento', 'vehiculo', 'segmento_0', 'segmento_1', 'segmento_2', 'segmento_3', 'timeframe_0', 'timeframe_1', 'timeframe_2']

for col in cols[2:]:
    col_sum_name = col + '_sum'
    sent_leads_df[col_sum_name] = sent_leads_df.groupby(['id_dealer'], as_index=False)[col].rolling(10).sum()[col].values

for col in cols[3:]:
    col_sum_name = col + '_sum'
    col_perc_name = col + '_perc'
    sent_leads_df[col_perc_name] = sent_leads_df[col_sum_name] / sent_leads_df['sent_leads_sum']

In [346]:
sent_leads_df[sent_leads_df.id_dealer == 4289232776.0].to_csv('ejemplo_dealer.csv')

In [347]:
df = df.merge(sent_leads_df,
         on=['foto_dia', 'id_dealer'],
         how='left')

In [348]:
df = df.drop_duplicates()

In [349]:

df[df.id_dealer == 4289232776.0].to_csv('ejemplo_dealer.csv')

In [350]:
# terminar los rolling sum y perc de los leads enviados OK
# agregar variable que sea porcentaje de autos con al menos un lead enviado
# agregar variable que sea dias en el stage actual OK

In [351]:
#calcular dias acumulados en el stage actual

def calcular_dias_acumulados(df):
    # Ordenar el DataFrame por 'dealer' y 'fecha'
    df = df.sort_values(by=['id_dealer', 'foto_dia'])

    # Inicializar una nueva columna para los días acumulados
    df['dias_acumulados'] = 0

    # Inicializar el valor del último dealer y stage
    last_dealer = None
    last_stage = None

    # Iterar sobre cada fila del DataFrame
    for index, row in df.iterrows():
        # Obtener el dealer y el stage actual
        dealer = row['id_dealer']
        stage_actual = row['foto_stage']

        # Verificar si hay cambio de dealer o de stage
        if dealer != last_dealer or stage_actual != last_stage:
            # Reiniciar el conteo de días acumulados
            dias_acumulados = 0
        else:
            # Obtener los días acumulados hasta la fila anterior
            dias_acumulados +=1

        # Actualizar el valor de la columna 'dias_acumulados'
        df.at[index, 'dias_acumulados'] = dias_acumulados

        # Actualizar los valores del último dealer y stage
        last_dealer = dealer
        last_stage = stage_actual
        

    return df

df['foto_dia'] = pd.to_datetime(df['foto_dia'], format='%d-%m-%Y')

df = calcular_dias_acumulados(df)

In [352]:
df[df.id_dealer == 4289232776.0].to_csv('ejemplo_dealer.csv')

In [353]:
leads_por_auto = pipedrive_df.groupby(['id_publication', 'fecha'], as_index=False).deal_id.nunique()
leads_por_auto

      id_publication      fecha  deal_id
0         1001103090 2023-11-14        1
1         1001103090 2023-11-15        1
2         1001103090 2023-11-16        1
3         1001460811 2023-10-31        1
4         1001460811 2023-11-02        1
...              ...        ...      ...
18664      997976578 2024-03-23        1
18665      997976578 2024-04-01        1
18666      997976578 2024-04-03        1
18667      997976578 2024-04-08        1
18668      998651757 2024-03-30        1

[18669 rows x 3 columns]

In [354]:
def get_stock():
    #creacion del stock
    stock_datastudio = pd.read_csv('stock_datastudio.csv')
    #todos los autos en mongo
    stock_mongo = mongo_query(MONGO_URI_ANALYTICS, 'data-team', 'stock_diario', stock_query())
    stock_mongo['hashIndex'] = stock_mongo['hashIndex'].astype(int)
    stock_datastudio['hashIndex'] = stock_datastudio['hashIndex'].astype(int)
    stock = pd.concat([stock_mongo, stock_datastudio])
    stock = stock.drop_duplicates()
    #stock_count = stock.groupby(['storeID', 'Fecha'], as_index=False).agg(stock = ('hashIndex', 'nunique'))
    #stock_count['foto_dia'] = pd.to_datetime(stock_count['Fecha'], format='%Y%m%d')
    #stock_count.drop('Fecha', axis=1, inplace=True)
    #stock_count = stock_count.rename(columns={'storeID': 'id_dealer'})
    #agrego el stock al df
    #df = df.merge(stock_count, how='left')
    return stock

In [355]:
stock = get_stock()

In [356]:
stock['hashIndex'] = stock['hashIndex'].astype(int)
stock['Fecha'] = pd.to_datetime(stock['Fecha'], format='%Y%m%d')
leads_por_auto['id_publication'] = leads_por_auto['id_publication'].astype(int)

In [357]:
leads_por_auto

       id_publication      fecha  deal_id
0          1001103090 2023-11-14        1
1          1001103090 2023-11-15        1
2          1001103090 2023-11-16        1
3          1001460811 2023-10-31        1
4          1001460811 2023-11-02        1
...               ...        ...      ...
18664       997976578 2024-03-23        1
18665       997976578 2024-04-01        1
18666       997976578 2024-04-03        1
18667       997976578 2024-04-08        1
18668       998651757 2024-03-30        1

[18669 rows x 3 columns]

In [358]:
stock = stock.merge(leads_por_auto, 
            left_on=['hashIndex', 'Fecha'], right_on=['id_publication', 'fecha'], how='left')

In [359]:
stock

,Fecha,hashIndex,storeID,placa,carType,id_publication,fecha,deal_id
0,2024-03-11,3650932036,6863,FZJ4D56,used,NaN,NaT,NaN
1,2024-03-11,1429393844,6863,GJX1A45,used,NaN,NaT,NaN
2,2024-03-11,695671150,2430,FJA8448,used,NaN,NaT,NaN
3,2024-03-11,107157808,714736698,QQX9H15,used,NaN,NaT,NaN
4,2024-03-11,1457000080,714736698,FXX2C83,used,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...
1623775,2024-02-16,567547695,297303744,EQF3A30,used,NaN,NaT,NaN
1623776,2024-02-16,1320120215,297303744,RJG7G81,used,NaN,NaT,NaN
1623777,2024-02-16,1842878651,1064780570,FWL7917,used,NaN,NaT,NaN
1623778,2024-02-16,1449616409,4117449427,EJB4633,used,NaN,NaT,NaN
1623779,2024-02-16,265983780,3641,FZB2A69,used,NaN,NaT,NaN

In [360]:
stock['deal_id'] = stock['deal_id'].fillna(0)

In [361]:
stock['mas_1_lead'] = stock['deal_id']>0

In [362]:
stock

,Fecha,hashIndex,storeID,placa,carType,id_publication,fecha,deal_id,mas_1_lead
0,2024-03-11,3650932036,6863,FZJ4D56,used,NaN,NaT,0.0,False
1,2024-03-11,1429393844,6863,GJX1A45,used,NaN,NaT,0.0,False
2,2024-03-11,695671150,2430,FJA8448,used,NaN,NaT,0.0,False
3,2024-03-11,107157808,714736698,QQX9H15,used,NaN,NaT,0.0,False
4,2024-03-11,1457000080,714736698,FXX2C83,used,NaN,NaT,0.0,False
...,...,...,...,...,...,...,...,...,...
1623775,2024-02-16,567547695,297303744,EQF3A30,used,NaN,NaT,0.0,False
1623776,2024-02-16,1320120215,297303744,RJG7G81,used,NaN,NaT,0.0,False
1623777,2024-02-16,1842878651,1064780570,FWL7917,used,NaN,NaT,0.0,False
1623778,2024-02-16,1449616409,4117449427,EJB4633,used,NaN,NaT,0.0,False
1623779,2024-02-16,265983780,3641,FZB2A69,used,NaN,NaT,0.0,False

In [363]:
cars_with_leads = stock.groupby(['Fecha', 'storeID'], as_index=False).agg(
    mas_1_lead_true = ('mas_1_lead', 'sum'),
    count_cars = ('hashIndex', 'nunique')
)

In [364]:
cars_with_leads

           Fecha     storeID  mas_1_lead_true  count_cars
0     2023-05-01        2404                0          17
1     2023-05-01        2429                0          14
2     2023-05-01        2430                0          36
3     2023-05-01        2485                0           9
4     2023-05-01        2499                0          29
...          ...         ...              ...         ...
28987 2024-04-23  4026850290                0          16
28988 2024-04-23  4155007215                0          37
28989 2024-04-23  4177413167                0          30
28990 2024-04-23  4184825664                0          53
28991 2024-04-23  4289232776                1          77

[28992 rows x 4 columns]

In [365]:
cars_with_leads[cars_with_leads.storeID == 4026850290].to_csv('ejemplo_dealer.csv')

In [366]:
df_ = df.merge(cars_with_leads, 
         left_on=['foto_dia', 'id_dealer'],
         right_on=['Fecha', 'storeID'],
         how='left')

In [367]:
df_[df_.id_dealer == 4289232776].to_csv('ejemplo_dealer.csv')

In [371]:
pipedrive_df[pipedrive_df['hash_index'] == 4289232776].sort_values('fecha').head(20)

,fecha,id_publication,hash_index,deal_id,segmento,momento_compra,follow_up_enviado,follow_up_respuesta,forma_de_pagamento,timeframe,botmaker_link,exchange_vehicle,momento_compra_tag,momento_visita,momento_visita_tag
2160,2023-11-28,3706741197,4289232776,625130,2,Week,None,None,Financiamiento | Financiado,2,https://go.botmaker.com/#/chats/ULSB73S225064O...,Sim,2,No question / no answer,0
12560,2023-12-02,1096950138,4289232776,627523,3,Dont know,None,None,Financiamiento | Financiado,1,https://go.botmaker.com/#/chats/6YQ4XW74WC3CUT...,Sim,1,No question / no answer,0
3101,2023-12-04,3222755498,4289232776,629574,2,Week,Si,Sim,Financiamiento | Financiado,2,https://go.botmaker.com/#/chats/S5XE1S82TQ11DS...,Não,2,No question / no answer,0
8795,2023-12-08,2691527311,4289232776,632254,1,No question / no answer,None,None,None,2,https://go.botmaker.com/#/chats/VF8MT08KRADXW1...,None,0,Tomorrow,2
11103,2023-12-11,952242533,4289232776,633472,2,Week,None,None,Financiamiento | Financiado,2,https://go.botmaker.com/#/chats/YA23X7UMS8NJCI...,Sim,2,No question / no answer,0
3531,2023-12-11,952242533,4289232776,633566,2,Month,None,None,Financiamiento | Financiado,2,https://go.botmaker.com/#/chats/YA23X7UMS8NJCI...,Sim,2,No question / no answer,0
7816,2023-12-12,2126670950,4289232776,633921,1,No question / no answer,None,None,None,2,https://go.botmaker.com/#/chats/ZRM3U45KO8ZRBT...,None,0,Week,2
12682,2023-12-13,952242533,4289232776,634491,2,Month,None,None,Veículo + Financiamento,2,https://go.botmaker.com/#/chats/BV0K3QITG1ML8O...,None,2,No question / no answer,0
12168,2023-12-13,3706741197,4289232776,635121,3,No question / no answer,None,None,None,2,https://go.botmaker.com/#/chats/O03HIWX5M5VNUS...,Sim,0,Week,2
3129,2023-12-13,3105081790,4289232776,634787,1,No question / no answer,None,None,None,2,https://go.botmaker.com/#/chats/QG8JMNYKG25AM7...,None,0,Week,2
3532,2023-12-13,1454780108,4289232776,634781,1,No question / no answer,None,None,None,1,https://go.botmaker.com/#/chats/4I7Y3UOAOBWG0F...,Sim,0,Dont know,1
9105,2023-12-14,3622742369,4289232776,636021,1,No question / no answer,None,None,None,1,https://go.botmaker.com/#/chats/ENE1OKZEVFKVV1...,None,0,Dont know,1
1150,2023-12-14,1454780108,4289232776,635951,1,No question / no answer,None,None,None,2,https://go.botmaker.com/#/chats/F70FCEAYRIJ8BK...,Sim,0,Tomorrow,2
11650,2023-12-14,3706741197,4289232776,635527,2,No question / no answer,None,None,None,1,https://go.botmaker.com/#/chats/BGPYSXD4WK14X2...,None,0,Dont know,1
10650,2023-12-15,472406631,4289232776,636255,1,Week,None,None,Entrada + Financiamento,2,https://go.botmaker.com/#/chats/UXTPZC57H1T2J0...,None,2,No question / no answer,0
11918,2023-12-15,3105081790,4289232776,635362,2,No question / no answer,None,None,None,0,https://go.botmaker.com/#/chats/RABZWJXJT30AYC...,None,0,No question / no answer,0
2042,2023-12-15,952242533,4289232776,636268,1,No question / no answer,None,None,None,2,https://go.botmaker.com/#/chats/WNPO0DTYCR620L...,Sim,0,Week,2
2511,2023-12-15,3105081790,4289232776,636587,2,No question / no answer,None,None,None,2,https://go.botmaker.com/#/chats/HVJ4P8VBOOFM48...,Sim,0,Week,2
2779,2023-12-16,952242533,4289232776,636795,3,Month,None,None,Veículo + Financiamento,2,https://go.botmaker.com/#/chats/WNPO0DTYCR620L...,None,2,No question / no answer,0
2354,2023-12-16,952242533,4289232776,637497,1,No question / no answer,None,None,None,2,https://go.botmaker.com/#/chats/SCOPE580TH06VJ...,Sim,0,Week,2

In [372]:
# ver con caro
# que hacer con los +1lead/autos. esto se hace dia por dia o se hace una cum-algo?
# puede haber más de un stage para un mismo dia. tengo que ver si puedo poner el último en el que el dealer entró en ese día, no?