In [1]:
import pandas as pd
from pymongo import MongoClient
import redshift_connector
import datetime
import numpy as np
import utils
from haversine import haversine, Unit
import consultas
from datetime import timedelta

In [2]:
MONGO_URI_CLUSTER0 = 'mongodb+srv://data:YEJLe5i8yf65StWG@cluster0-production.8edso.mongodb.net/verifications?retryWrites=true&w=majority'
MONGO_URI_ANALYTICS = 'mongodb+srv://data:YEJLe5i8yf65StWG@cluster-analytics.8edso.mongodb.net/?retryWrites=true&w=majority'

In [3]:
#los acumulativos se hacen con esta cantidad de dias
rolling_days = 30
#se predice con este horizonte
horizon_days = 30

#example file
example_file = 'trash/ejemplo_dealer.csv'

In [4]:
# analizamos desde el 1-10-2023
# por día, necesitamos los dealers activos y los que se dieron de baja.

In [5]:
# funciones para consultar las db

def redshift_query(query):
    #redshift conn
    conn = redshift_connector.connect(
        host = "karvi-redshift-production.cizkpgaflsne.us-east-1.redshift.amazonaws.com",
        database = "prod",
        user = "data_reporting",
        password = "Reporting2023")
    cur = conn.cursor()
    cur.execute(query)
    resultado = cur.fetchall()
    #dataframe with response
    df_resultado = pd.DataFrame(resultado)
    #column names
    resultado = cur.fetch_dataframe()
    df_resultado.columns = resultado.columns
    conn.close()
    return(df_resultado)

def mongo_query(MONGO_URI, db_name, collection_name, pipeline):
    client = MongoClient(MONGO_URI)
    db = client[db_name]
    collection = db[collection_name]
    result = list(collection.aggregate(pipeline))
    df = pd.DataFrame(list(result))
    return df


## queries 

# Esta query trae los dealers junto con sus datos actuales (stage actual, fecha de salida si la hubiera)

query_deals = '''
select po.data_assinatura_contrato, 
--esto es para cruzar con deal flow
pd.id as deal_id,
po.dealer_id as id_dealer,
title, 
org_name, 
stage_id, 
stage_name, 
active, pd.add_time, 
po.data_saida
from silver.pipedrive_deals pd 
left join silver.pipedrive_organizations po 
on pd.org_id = po.id 
where pd.pipeline_id  = 42
AND (lost_reason NOT IN ('Teste | Prueba', '#Duplicado') OR lost_reason IS NULL)
'''

# Esta query trae los dealers con todos sus cambios de stage
query_deals_stages ='''
select po.data_assinatura_contrato, 
--esto es para cruzar con deal flow
pd.id as deal_id,
po.dealer_id as id_dealer,
pd.pipeline_id,
title, 
org_name, 
stage_id, 
stage_name, 
active, 
pd.add_time, 
po.data_saida,
pdfs.log_time as date_stage_change,
pdfs.old_stage_id,
pdfs.old_stage_name,
pdfs.new_stage_id,
pdfs.new_stage_name
--cte.last_pause_date,
--cte.count_pauses
from silver.pipedrive_deals pd 
left join silver.pipedrive_organizations po 
on pd.org_id = po.id 
left join silver.pipedrive_deal_flow_stages pdfs
on pd.id = pdfs.deal_id
where pd.pipeline_id  = 42
and pdfs.new_pipeline_id = 42
AND (lost_reason NOT IN ('Teste | Prueba', '#Duplicado') OR lost_reason IS NULL)
'''

#con esta consulta me traigo todo el stock
def stock_query():
    query = [

        {
            "$project": {
                "Fecha": "$date",
                "hashIndex": "$hashIndex",
                "storeID": "$storeID",
                "placa": "$placa",
                "carType": "$carType",
                "_id": 0
            }
        }
    ]
    return query

# leads enviados
def pipedrive_query(month, date):
    query = f"""
   select pslv.fecha, 
    pslv.oferta_activa as id_publication, 
    pslv.id_dealer as hash_index, 
    pslv.deal_id, 
    pslv.segmento, 
    p.momento_compra,
    p.follow_up_enviado,
    pslv.follow_up_respuesta,
    p.forma_de_pagamento,
    p.timeframe,
    p.botmaker_link,
    p.exchange_vehicle
    from silver.pipedrive_sent_leads_v pslv 
    left join silver.pipedrive_deals p
    on pslv.deal_id = p.id
    where fecha >= '{month}'
    and fecha <= '{date}'
    """
    return query

In [6]:
#funciones para crear variables

def add_pipedrive_vars(pipedrive_df, dealers_df):
    df = get_distances(pipedrive_df, dealers_df, MONGO_URI_ANALYTICS)
    df = pipedrive_df
    df['momento_compra'] = df['momento_compra'].map({
        'Talvez ainda neste mês': 'Month',
        'Ainda nesta semana!': 'Week',
        'N/A': 'Dont know',
        None: 'No question / no answer'
    })

    #mapeo los momentos de compra
    df["momento_compra_tag"] = df.momento_compra.map({
        'No question / no answer': 0,
        'Dont know': 1,
        'Month': 2,  #juntar
        'Week': 2,  #juntar
        np.nan: 0
    })

    df['momento_visita'] = df['timeframe'].map({
        'Dentro de 15 dias': '2_weeks',
        'Nos próximos 7 dias': 'Week',
        'Amanhã': "Tomorrow",
        'Ainda não sei': 'Dont know',
        None: 'No question / no answer'})

    df["momento_visita_tag"] = df.momento_visita.map({
        'No question / no answer': 0,
        '2_weeks': 1,
        'Dont know': 1,
        'Week': 2,  #juntar
        'Tomorrow': 2,  #juntar
        np.nan: 0
    })

    # timeframe junta ambas. Se queda con el tag más optimista
    df['timeframe'] = np.where(df.momento_compra_tag < df.momento_visita_tag, df.momento_visita_tag, df.momento_compra_tag)
    #hago dummies con timeframe
    df = pd.get_dummies(df, columns=['timeframe'])
    df.loc[df['timeframe_0'], ['timeframe_1', 'timeframe_2']] = None

    mapeo_vehiculo = {"Não": False, "Sim": True}

    df['vehiculo'] = df.exchange_vehicle.map(mapeo_vehiculo)

    valores_nulos_financiamiento = df['forma_de_pagamento'].isnull()
    resultado_financiamiento = df.loc[~valores_nulos_financiamiento, 'forma_de_pagamento'].str.contains("Financiam")
    df['financiamiento'] = None
    df.loc[~valores_nulos_financiamiento, 'financiamiento'] = resultado_financiamiento

    #los que no tienen segmento van a 0
    df["segmento"] = df["segmento"].fillna('0')
    #armo dummies para segmentos
    df = pd.get_dummies(df, columns=["segmento"])
    df.loc[df['segmento_0'], ['segmento_1', 'segmento_2', 'segmento_3']] = None

    return df


def get_distances(pipedrive_df, dealers_df, MONGO_URI):

    pipedrive_df.loc[: , "hash_index"] = pd.to_numeric(pipedrive_df["hash_index"])
    #id del lead
    deal_ids_list = pipedrive_df["deal_id"].tolist()
    query = consultas.ip_query(deal_ids_list)

    df_dealer_ads_user = utils.mongo_query(MONGO_URI, 'growth', 'dealer_ads_user', query)

    #ip del lead
    ips_list = df_dealer_ads_user.ip_address.to_list()

    query = consultas.lat_long_lead_query(ips_list)

    #geoloc del lead
    geoloc_df = utils.mongo_query(MONGO_URI, 'data-team', 'ip-geoloc', query)

    leads_location_df = df_dealer_ads_user.merge(geoloc_df,
                                                 left_on="ip_address",
                                                 right_on="user_ip")

    leads_location_df.columns = ["ip_address", "deal_id", "ip", "lead_latitude", "lead_longitude"]

    #geoloc de lead y dealer
    lats_longs_df = pipedrive_df[["hash_index", "deal_id"]].merge(leads_location_df,
                                                                  on="deal_id",
                                                                  how='left').merge(
        dealers_df[["hash_index", "dealer_latitude", "dealer_longitude"]].drop_duplicates(),
        on="hash_index",
        how='left')

    lats_longs_df["distance"] = lats_longs_df[
        ['lead_longitude', 'lead_latitude', 'dealer_longitude', 'dealer_latitude']].apply(
        lambda row: haversine(
            (row['lead_latitude'],
             row['lead_longitude']),
            (row['dealer_latitude'],
             row['dealer_longitude'])
        ) if not row.isnull().any() else np.nan,
        axis=1
    )

    #alert
    lats_longs_df["alerta"] = np.where(lats_longs_df["distance"].isna(), np.nan, lats_longs_df["distance"] > 30)

    pipedrive_df = pipedrive_df.merge(
        lats_longs_df[["deal_id", "hash_index", "distance", "alerta"]],
        left_on=["deal_id", "hash_index"],
        right_on=["deal_id", "hash_index"],
        how='left'
    )

    pipedrive_df = pipedrive_df.drop_duplicates()
    
    return (pipedrive_df)


def init_dealers_df(query_deals):
    '''esta función inicializa el df de dealers. trae su fecha de alta, su fecha de baja si existiera, y genera los dias intermedios. tambien calcula la antiguedad del dealer.'''

    #Ejecuto query para los dealers
    pipe_deals = redshift_query(query_deals)
    pipe_deals.loc[: , 'fecha_baja'] = pd.to_datetime(pipe_deals['data_saida'], errors='coerce')
    pipe_deals.loc[: , 'fecha_alta'] = pd.to_datetime(pipe_deals['data_assinatura_contrato'], errors='coerce')
    cols = ['id_dealer', 'fecha_alta', 'fecha_baja']
    pipe_deals = pipe_deals[cols]
    dealers = pipe_deals.id_dealer.unique().tolist()
    df = pd.DataFrame()
    current_date =datetime.date.today()
    # recorro los dealers
    for dealer in dealers:
        # sus dias de existencia corresponden a todos los que estan entre su fecha de inicio de contrato y su fecha de baja (si no tiene baja, va la fecha actual)
        dates = pipe_deals.loc[pipe_deals['id_dealer']==dealer, ['fecha_alta', 'fecha_baja']]
        dates['fecha_baja'] = dates['fecha_baja'].fillna(current_date)
        try:
            datetime_idx = pd.date_range(end=dates['fecha_baja'].values[0],
                                         start=dates['fecha_alta'].values[0],
                                         freq='D')
        except:
            print('error in dealer', dealer)
            datetime_idx = [current_date]
        dealer_idx = [dealer] * len(datetime_idx)
        temp_df = pd.DataFrame({'foto_dia': datetime_idx, 'id_dealer': dealer_idx})
        df = pd.concat([df, temp_df])

    df = df.merge(pipe_deals,
                  on='id_dealer',
                  how='left')

    df[['fecha_alta','fecha_baja', 'foto_dia']] = df[['fecha_alta','fecha_baja', 'foto_dia']].apply(pd.to_datetime)
    #marco las bajas
    df['baja'] = np.where(df.foto_dia == df.fecha_baja, True, False)
    #calculo antiguedad
    df['antiguedad'] = (df['foto_dia'] - df['fecha_alta']).dt.days
    #convierto a date la fotodia
    df.loc[: , 'foto_dia'] = df.foto_dia.dt.date
    return df


#en stages necesitamos saber por día en qué estado estaba cada dealer.
def add_stage_by_day(df):
    #Ejecuto query para los stages de los dealers
    stages_df = redshift_query(query_deals_stages)
    cols = ['id_dealer', 'date_stage_change', 'new_stage_name']
    stages_df = stages_df[cols]
 
    stages_df.loc[: ,'date_stage_change_date'] = pd.to_datetime(stages_df['date_stage_change'], errors='coerce', unit='D').dt.date
    df['foto_dia'] = df['foto_dia'].dt.date
    
    #dejo solo la ultima actualizacion de cada dia
    stages_df = stages_df.sort_values(by=['id_dealer', 'date_stage_change'])
    stages_df = stages_df.groupby(['id_dealer', 'date_stage_change_date']).last().reset_index()

#agrego los dias de cambio de estado
    df = df.merge(stages_df,
                  left_on=['id_dealer', 'foto_dia'],
                  right_on=['id_dealer', 'date_stage_change_date'],
                  how='left')

    # Ordenar por id y fecha
    df = df.sort_values(by=['id_dealer', 'foto_dia'])

    # Llenar los valores faltantes dentro de cada grupo
    df['foto_stage'] = df.groupby('id_dealer')['new_stage_name'].ffill()
    df.drop(['date_stage_change_date', 'new_stage_name'], axis=1, inplace=True)
    
    df = get_cum_foto_stages(df)
    
    df = df.drop_duplicates()
    return df

def add_stock_by_day(df):
    #creacion del stock
    stock_datastudio = pd.read_csv('stock_datastudio.csv')
    #todos los autos en mongo
    stock_mongo = mongo_query(MONGO_URI_ANALYTICS, 'data-team', 'stock_diario', stock_query())
    stock_mongo['hashIndex'] = stock_mongo['hashIndex'].astype(int)
    stock_datastudio['hashIndex'] = stock_datastudio['hashIndex'].astype(int)
    stock = pd.concat([stock_mongo, stock_datastudio])
    stock = stock.drop_duplicates()
    stock_count = stock.groupby(['storeID', 'Fecha'], as_index=False).agg(stock = ('hashIndex', 'nunique'))
    stock_count['foto_dia'] = pd.to_datetime(stock_count['Fecha'], format='%Y%m%d')
    stock_count['foto_dia'] = stock_count['foto_dia'].dt.date
    stock_count.drop('Fecha', axis=1, inplace=True)
    stock_count = stock_count.rename(columns={'storeID': 'id_dealer'})
    #agrego el stock al df
    df = df.merge(stock_count, how='left')
    return df


def get_cum_foto_stages(df):
    '''esta función calcula las variables acumulativas de los stages.'''
    #hago dummies de cada stage
    dummies = pd.get_dummies(df['foto_stage'], prefix='foto_stage')
    df = pd.concat([df, dummies], axis=1)
    #para cada dummy, hago la variable acumulativa que cuenta su cantidad de días
    for col in dummies.columns:
        col_name = f'days_in_{col}'
        df.loc[: , col_name] = df.groupby('id_dealer', as_index=False)[col].transform(pd.Series.cumsum)
        col_name_perc = f'days_in_{col}_perc'
        df.loc[: , col_name_perc] = df[col_name] / df['antiguedad']
        df.drop(col, axis=1, inplace=True)
    return df


def calcular_dias_acumulados(df):
    # Ordenar el DataFrame por 'dealer' y 'fecha'
    df = df.sort_values(by=['id_dealer', 'foto_dia'])

    # Inicializar una nueva columna para los días acumulados
    df['dias_acumulados'] = 0

    # Inicializar el valor del último dealer y stage
    last_dealer = None
    last_stage = None

    # Iterar sobre cada fila del DataFrame
    for index, row in df.iterrows():
        # Obtener el dealer y el stage actual
        dealer = row['id_dealer']
        stage_actual = row['foto_stage']

        # Verificar si hay cambio de dealer o de stage
        if dealer != last_dealer or stage_actual != last_stage:
            # Reiniciar el conteo de días acumulados
            dias_acumulados = 0
        else:
            # Obtener los días acumulados hasta la fila anterior
            dias_acumulados +=1

        # Actualizar el valor de la columna 'dias_acumulados'
        df.at[index, 'dias_acumulados'] = dias_acumulados

        # Actualizar los valores del último dealer y stage
        last_dealer = dealer
        last_stage = stage_actual


    return df


def get_stock():
    #creacion del stock
    stock_datastudio = pd.read_csv('stock_datastudio.csv')
    #todos los autos en mongo
    stock_mongo = mongo_query(MONGO_URI_ANALYTICS, 'data-team', 'stock_diario', stock_query())
    stock_mongo['hashIndex'] = stock_mongo['hashIndex'].astype(int)
    stock_datastudio['hashIndex'] = stock_datastudio['hashIndex'].astype(int)
    stock = pd.concat([stock_mongo, stock_datastudio])
    stock = stock.drop_duplicates()

    return stock

ejecución de las queries

In [128]:
#con esto inicializo el df de dealers: 
# obtengo todos los días desde que inicio su contrato hasta que lo finalizó (si no finalizó, hasta el día de hoy)
# agrego su antiguedad y si es una baja
df = init_dealers_df(query_deals)

/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/1142100444.py:124: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pipe_deals.loc[: , 'fecha_baja'] = pd.to_datetime(pipe_deals['data_saida'], errors='coerce')

In [129]:
#tenemos 87 bajas
df[df.baja==True].id_dealer.nunique()

87

In [131]:
#de 323 dealers
df.id_dealer.nunique()

323

In [132]:
#creo variable de mes de foto dia para ver las bajas por mes
df['mes_foto_dia'] = df['foto_dia'].dt.year.astype(str) + '-' + df['foto_dia'].dt.month.astype(str)

In [133]:
#veo bajas por mes
df.groupby('mes_foto_dia').baja.value_counts().to_csv("trash/value_counts.csv")

agrego stages por día

In [134]:
#agrego stages por dia + suma acumulada
df = add_stage_by_day(df)

,foto_dia,id_dealer,fecha_alta,fecha_baja,baja,antiguedad,mes_foto_dia,date_stage_change,foto_stage,days_in_foto_stage_Amarelo,...,days_in_foto_stage_Saídas com pendências financeiras,days_in_foto_stage_Saídas com pendências financeiras_perc,days_in_foto_stage_Saíram do projeto,days_in_foto_stage_Saíram do projeto_perc,days_in_foto_stage_Serasa,days_in_foto_stage_Serasa_perc,days_in_foto_stage_Verde,days_in_foto_stage_Verde_perc,days_in_foto_stage_Vermelho,days_in_foto_stage_Vermelho_perc
31343,2023-10-30,1065,2023-10-30,NaT,False,0,2023-10,NaT,NaN,0,...,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
31344,2023-10-31,1065,2023-10-30,NaT,False,1,2023-10,NaT,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.000000,0,0.0
31345,2023-11-01,1065,2023-10-30,NaT,False,2,2023-11,NaT,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.000000,0,0.0
31346,2023-11-02,1065,2023-10-30,NaT,False,3,2023-11,NaT,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.000000,0,0.0
31347,2023-11-03,1065,2023-10-30,NaT,False,4,2023-11,NaT,NaN,0,...,0,0.0,0,0.0,0,0.0,0,0.000000,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17534,2024-05-12,4289232776,2023-11-08,NaT,False,186,2024-5,NaT,Amarelo,20,...,0,0.0,0,0.0,0,0.0,146,0.784946,0,0.0
17535,2024-05-13,4289232776,2023-11-08,NaT,False,187,2024-5,2024-05-13 14:28:24,Verde,20,...,0,0.0,0,0.0,0,0.0,147,0.786096,0,0.0
17536,2024-05-14,4289232776,2023-11-08,NaT,False,188,2024-5,NaT,Verde,20,...,0,0.0,0,0.0,0,0.0,148,0.787234,0,0.0
17537,2024-05-15,4289232776,2023-11-08,NaT,False,189,2024-5,NaT,Verde,20,...,0,0.0,0,0.0,0,0.0,149,0.788360,0,0.0
17538,2024-05-16,4289232776,2023-11-08,NaT,False,190,2024-5,NaT,Verde,20,...,0,0.0,0,0.0,0,0.0,150,0.789474,0,0.0

In [135]:
#check variables de stages with a dealer
df[df.id_dealer == 4289232776].sort_values(['id_dealer', 'foto_dia']).to_csv(example_file)

In [136]:
#agrego stock por dia
df = add_stock_by_day(df)
df

,foto_dia,id_dealer,fecha_alta,fecha_baja,baja,antiguedad,mes_foto_dia,date_stage_change,foto_stage,days_in_foto_stage_Amarelo,...,days_in_foto_stage_Saídas com pendências financeiras_perc,days_in_foto_stage_Saíram do projeto,days_in_foto_stage_Saíram do projeto_perc,days_in_foto_stage_Serasa,days_in_foto_stage_Serasa_perc,days_in_foto_stage_Verde,days_in_foto_stage_Verde_perc,days_in_foto_stage_Vermelho,days_in_foto_stage_Vermelho_perc,stock
0,2023-10-30,1065,2023-10-30,NaT,False,0,2023-10,NaT,NaN,0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,NaN
1,2023-10-31,1065,2023-10-30,NaT,False,1,2023-10,NaT,NaN,0,...,0.0,0,0.0,0,0.0,0,0.000000,0,0.0,NaN
2,2023-11-01,1065,2023-10-30,NaT,False,2,2023-11,NaT,NaN,0,...,0.0,0,0.0,0,0.0,0,0.000000,0,0.0,1.0
3,2023-11-02,1065,2023-10-30,NaT,False,3,2023-11,NaT,NaN,0,...,0.0,0,0.0,0,0.0,0,0.000000,0,0.0,26.0
4,2023-11-03,1065,2023-10-30,NaT,False,4,2023-11,NaT,NaN,0,...,0.0,0,0.0,0,0.0,0,0.000000,0,0.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,2024-05-12,4289232776,2023-11-08,NaT,False,186,2024-5,NaT,Amarelo,20,...,0.0,0,0.0,0,0.0,146,0.784946,0,0.0,80.0
49155,2024-05-13,4289232776,2023-11-08,NaT,False,187,2024-5,2024-05-13 14:28:24,Verde,20,...,0.0,0,0.0,0,0.0,147,0.786096,0,0.0,83.0
49156,2024-05-14,4289232776,2023-11-08,NaT,False,188,2024-5,NaT,Verde,20,...,0.0,0,0.0,0,0.0,148,0.787234,0,0.0,83.0
49157,2024-05-15,4289232776,2023-11-08,NaT,False,189,2024-5,NaT,Verde,20,...,0.0,0,0.0,0,0.0,149,0.788360,0,0.0,77.0
49158,2024-05-16,4289232776,2023-11-08,NaT,False,190,2024-5,NaT,Verde,20,...,0.0,0,0.0,0,0.0,150,0.789474,0,0.0,NaN

In [137]:
df[df.id_dealer == 2248044838].sort_values(['id_dealer', 'foto_dia']).to_csv(example_file)

In [138]:
df.id_dealer.nunique()

323

In [139]:
df[df.baja==True].id_dealer.nunique()

87

In [140]:
#agrego variables de pipedrive

In [141]:
#fecha desde la que queremos hacer el análisis
start = datetime.datetime(2023, 10, 1)
end = datetime.datetime.today()
#ejecucion de query de pipedrive
pipedrive_df = redshift_query(pipedrive_query(start, end))

In [142]:
hash_index = df.id_dealer.tolist()
query = consultas.dealers_query(hash_index)
dealers_data = utils.mongo_query(MONGO_URI_CLUSTER0, "dealers", "stores", query)

In [143]:
pipedrive_df['fecha'] = pd.to_datetime(pipedrive_df['fecha'], errors='coerce')
pipedrive_modeled = add_pipedrive_vars(pipedrive_df, dealers_data)

/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/1142100444.py:42: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['timeframe_0'], ['timeframe_1', 'timeframe_2']] = None
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/1142100444.py:42: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['timeframe_0'], ['timeframe_1', 'timeframe_2']] = None
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/1142100444.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['segmento_0'], ['segmento_1', 'segmento_2', 'segmento_3']] = None
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/1142100444.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['segmento_0'], ['segmento_1', 'segmento_2', 'segmento_3']] = None
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/1142100444.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['segmento_0'], ['segmento_1', 'segmento_2', 'segmento_3']] = None

In [144]:
pipedrive_modeled = pipedrive_modeled.drop_duplicates()

In [145]:
sent_leads_df = pipedrive_df.groupby(['hash_index', 'fecha'], as_index=False).deal_id.nunique()

In [146]:
cols = ['hash_index', 'fecha', 'financiamiento', 'vehiculo', 'alerta', 'segmento_0', 'segmento_1', 'segmento_2', 'segmento_3', 'timeframe_0', 'timeframe_1', 'timeframe_2']

#sin alerta
cols = ['hash_index', 'fecha', 'financiamiento', 'vehiculo', 'segmento_0', 'segmento_1', 'segmento_2', 'segmento_3', 'timeframe_0', 'timeframe_1', 'timeframe_2']

In [147]:
pipedrive_modeled = pipedrive_modeled[cols]

In [148]:
# cuento por dia cuantos tuvieron los dealers de cada uno
#cuenta los true
counts_por_grupo = pipedrive_modeled.groupby(['hash_index', 'fecha'], as_index=False).sum()
counts_por_grupo['fecha'] = counts_por_grupo['fecha'].dt.date
#agrego dias en los que no hubo leads enviados
counts_por_grupo = df[['id_dealer', 'foto_dia']].merge(counts_por_grupo,
                                                       left_on=['id_dealer', 'foto_dia'],
                                                       right_on=['hash_index', 'fecha'],
                                                       how='left')

counts_por_grupo.drop(['hash_index', 'fecha'], axis=1, inplace=True)

counts_por_grupo.iloc[:, 2:] = counts_por_grupo.iloc[:, 2:].fillna(0).astype(int)
counts_por_grupo = counts_por_grupo.drop_duplicates()

In [149]:
counts_por_grupo[counts_por_grupo.id_dealer == 4289232776.0].to_csv(example_file)

In [150]:
#aca agrego las sumas y los porcentajes de leads

sent_leads_df = sent_leads_df.rename(columns={
    'hash_index':'id_dealer',
    'fecha': 'foto_dia',
    'deal_id': 'sent_leads'
})

sent_leads_df['foto_dia'] = sent_leads_df['foto_dia'].dt.date


sent_leads_df = sent_leads_df.merge(counts_por_grupo,
                                    how='right',
                                    left_on=['id_dealer', 'foto_dia'],
                                    right_on=['id_dealer', 'foto_dia'])

sent_leads_df['sent_leads'] = sent_leads_df['sent_leads'].fillna(0)

cols = ['hash_index', 'fecha', 'sent_leads', 'financiamiento', 'vehiculo', 'segmento_0', 'segmento_1', 'segmento_2', 'segmento_3', 'timeframe_0', 'timeframe_1', 'timeframe_2']

for col in cols[2:]:
    col_sum_name = col + '_sum'
    sent_leads_df[col_sum_name] = sent_leads_df.groupby(['id_dealer'], as_index=False)[col].rolling(rolling_days).sum()[col].values

for col in cols[3:]:
    col_sum_name = col + '_sum'
    col_perc_name = col + '_perc'
    sent_leads_df[col_perc_name] = sent_leads_df[col_sum_name] / sent_leads_df['sent_leads_sum']

In [151]:
sent_leads_df[sent_leads_df.id_dealer == 4289232776.0].to_csv(example_file)

In [152]:
#aca agrego los sent leads al df
df = df.merge(sent_leads_df,
         on=['foto_dia', 'id_dealer'],
         how='left')

In [153]:
df = df.drop_duplicates()

In [154]:
df[df.id_dealer == 4289232776.0].to_csv(example_file)

In [155]:
df.id_dealer.nunique()

323

In [156]:
df[df.baja==True].id_dealer.nunique()

87

In [157]:
#calcular dias acumulados en el stage actual
df['foto_dia'] = pd.to_datetime(df['foto_dia'], format='%d-%m-%Y')
df = calcular_dias_acumulados(df)

In [158]:
df[df.id_dealer == 4289232776.0].to_csv('trash/ejemplo_dealer.csv')
df.id_dealer.nunique()
df[df.baja==True].id_dealer.nunique()

87

Calculo concentración de leads

In [159]:
leads_por_auto = pipedrive_df.groupby(['id_publication', 'fecha'], as_index=False).deal_id.nunique()
leads_por_auto['id_publication'] = leads_por_auto['id_publication'].astype(int)

In [160]:
stock = get_stock()

In [161]:
stock['hashIndex'] = stock['hashIndex'].astype(int)
stock['Fecha'] = pd.to_datetime(stock['Fecha'], format='%Y%m%d')

In [162]:
stock = stock.merge(leads_por_auto, 
            left_on=['hashIndex', 'Fecha'], right_on=['id_publication', 'fecha'], how='left')

In [163]:
stock['deal_id'] = stock['deal_id'].fillna(0)

In [164]:
stock['mas_1_lead'] = stock['deal_id']>0

In [165]:
cars_with_leads = stock.groupby(['Fecha', 'storeID'], as_index=False).agg(
    mas_1_lead_true = ('mas_1_lead', 'sum'),
    count_cars = ('hashIndex', 'nunique')
)

In [166]:
cars_with_leads[cars_with_leads.storeID == 4026850290].to_csv(example_file)

In [167]:
df = df.merge(cars_with_leads, 
         left_on=['foto_dia', 'id_dealer'],
         right_on=['Fecha', 'storeID'],
         how='left')

df['conc_leads_1'] = (df['mas_1_lead_true'] / df['sent_leads']).fillna(0)
df['conc_leads_2'] = (df['mas_1_lead_true'] / df['stock']).fillna(0)
#promedio movil
df[f'conc_leads_1_avg_{rolling_days}'] = df.groupby('id_dealer', as_index=False).conc_leads_1.rolling(rolling_days).mean().conc_leads_1
df[f'conc_leads_2_avg_{rolling_days}'] = df.groupby('id_dealer', as_index=False).conc_leads_2.rolling(rolling_days).mean().conc_leads_2

In [168]:
df[df.id_dealer == 4289232776].to_csv(example_file)

In [169]:
df.id_dealer.nunique()

323

In [170]:
df[df.baja==True].id_dealer.nunique()

87

In [171]:
#aca muevo el horizonte de prediccion a horizon_days

#fecha de baja en n dias
def calcular_baja_en_n_dias(fecha_baja, n):
    return fecha_baja - timedelta(days=n)

df['fecha_baja_en_{}dias'.format(horizon_days)] = df.groupby('id_dealer')['fecha_baja'].transform(lambda x: calcular_baja_en_n_dias(x.iloc[0], horizon_days))


# variable binaria: baja en n dias true/false
df['baja_en_{}dias'.format(horizon_days)] = np.where(df['foto_dia'] >= df['fecha_baja_en_{}dias'.format(horizon_days)],
                                               True,
                                               False)

In [172]:
df[df.baja==True].id_dealer.nunique()

87

In [173]:
# me quedo solo con los dias posteriores al 1-10-2023
df_final = df[df.foto_dia > '2023-10-01']

In [174]:
#df_final[df_final.baja==True].id_dealer.nunique()
dealers_bajas = df_final[df_final.baja==True].id_dealer
len(dealers_bajas)

81

In [175]:
# calcular a qué semana pertenece cada día
df_final.loc[: , 'foto_week'] = df_final.foto_dia.apply(lambda x: x.isocalendar()[1])
df_final.loc[: ,'foto_year'] = df_final.foto_dia.apply(lambda x: x.isocalendar()[0])

/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/1025140573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[: , 'foto_week'] = df_final.foto_dia.apply(lambda x: x.isocalendar()[1])
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/1025140573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[: ,'foto_year'] = df_final.foto_dia.apply(lambda x: x.isocalendar()[0])

In [176]:
def extract_isocalendar(x, element):
    if pd.isnull(x):
        return np.datetime64("NaT")
    else:
        return x.isocalendar()[element]

In [177]:
# calculo la semana de la baja
df_final.loc[: , 'baja_week_30d'] = df_final.fecha_baja_en_30dias.apply(lambda x: extract_isocalendar(x, 1))
df_final.loc[: , 'baja_year_30d'] = df_final.fecha_baja_en_30dias.apply(lambda x: extract_isocalendar(x, 0))

/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/2585082031.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[: , 'baja_week_30d'] = df_final.fecha_baja_en_30dias.apply(lambda x: extract_isocalendar(x, 1))
/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/2585082031.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[: , 'baja_year_30d'] = df_final.fecha_baja_en_30dias.apply(lambda x: extract_isocalendar(x, 0))

In [178]:
df_final[df_final.id_dealer == 4318].to_csv('trash/dealer_ok.csv')

In [179]:
df_final.baja.sum()

81

In [180]:
#me quedo con el primer dia de cada semana (el minimo) por dealer
df_final = df_final[df_final['foto_dia'] == df_final.groupby(['id_dealer', 'foto_week', 'foto_year'])['foto_dia'].transform('min')]

In [181]:
df_final[df_final.id_dealer == 2922]

,foto_dia,id_dealer,fecha_alta,fecha_baja,baja,antiguedad,mes_foto_dia,date_stage_change,foto_stage,days_in_foto_stage_Amarelo,...,conc_leads_1,conc_leads_2,conc_leads_1_avg_30,conc_leads_2_avg_30,fecha_baja_en_30dias,baja_en_30dias,foto_week,foto_year,baja_week_30d,baja_year_30d
2673,2023-10-19,2922,2023-10-19,2024-03-13,False,0,2023-10,NaT,NaN,0,...,0.000000,0.000000,NaN,NaN,2024-02-12,False,42,2023,7,2024
2677,2023-10-23,2922,2023-10-19,2024-03-13,False,4,2023-10,2023-10-23 12:51:50,Dealers ativos,0,...,0.666667,0.071429,NaN,NaN,2024-02-12,False,43,2023,7,2024
2684,2023-10-30,2922,2023-10-19,2024-03-13,False,11,2023-10,NaT,Dealers ativos,0,...,1.000000,0.115385,NaN,NaN,2024-02-12,False,44,2023,7,2024
2691,2023-11-06,2922,2023-10-19,2024-03-13,False,18,2023-11,2023-11-06 12:29:29,Verde,0,...,0.833333,0.106383,NaN,NaN,2024-02-12,False,45,2023,7,2024
2698,2023-11-13,2922,2023-10-19,2024-03-13,False,25,2023-11,NaT,Verde,0,...,1.000000,0.108696,NaN,NaN,2024-02-12,False,46,2023,7,2024
2705,2023-11-20,2922,2023-10-19,2024-03-13,False,32,2023-11,NaT,Amarelo,4,...,0.000000,0.000000,0.745180,0.075422,2024-02-12,False,47,2023,7,2024
2712,2023-11-27,2922,2023-10-19,2024-03-13,False,39,2023-11,NaT,Amarelo,11,...,1.000000,0.019231,0.742402,0.068673,2024-02-12,False,48,2023,7,2024
2719,2023-12-04,2922,2023-10-19,2024-03-13,False,46,2023-12,NaT,Amarelo,18,...,0.000000,0.000000,0.571111,0.043548,2024-02-12,False,49,2023,7,2024
2726,2023-12-11,2922,2023-10-19,2024-03-13,False,53,2023-12,NaT,Amarelo,25,...,0.000000,0.000000,0.516667,0.019593,2024-02-12,False,50,2023,7,2024
2733,2023-12-18,2922,2023-10-19,2024-03-13,False,60,2023-12,NaT,Amarelo,32,...,1.000000,0.019608,0.533333,0.015501,2024-02-12,False,51,2023,7,2024
2740,2023-12-25,2922,2023-10-19,2024-03-13,False,67,2023-12,NaT,Vermelho,34,...,1.000000,0.020833,0.522222,0.016146,2024-02-12,False,52,2023,7,2024
2747,2024-01-01,2922,2023-10-19,2024-03-13,False,74,2024-1,NaT,Vermelho,34,...,0.000000,0.000000,0.588889,0.021733,2024-02-12,False,1,2024,7,2024
2754,2024-01-08,2922,2023-10-19,2024-03-13,False,81,2024-1,2024-01-08 17:05:11,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.663889,0.039568,2024-02-12,False,2,2024,7,2024
2761,2024-01-15,2922,2023-10-19,2024-03-13,False,88,2024-1,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.547222,0.034647,2024-02-12,False,3,2024,7,2024
2768,2024-01-22,2922,2023-10-19,2024-03-13,False,95,2024-1,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.391667,0.029348,2024-02-12,False,4,2024,7,2024
2775,2024-01-29,2922,2023-10-19,2024-03-13,False,102,2024-1,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.191667,0.020503,2024-02-12,False,5,2024,7,2024
2782,2024-02-05,2922,2023-10-19,2024-03-13,False,109,2024-2,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.000000,0.000000,2024-02-12,False,6,2024,7,2024
2789,2024-02-12,2922,2023-10-19,2024-03-13,False,116,2024-2,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.000000,0.000000,2024-02-12,True,7,2024,7,2024
2796,2024-02-19,2922,2023-10-19,2024-03-13,False,123,2024-2,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.000000,0.000000,2024-02-12,True,8,2024,7,2024
2803,2024-02-26,2922,2023-10-19,2024-03-13,False,130,2024-2,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.000000,0.000000,2024-02-12,True,9,2024,7,2024
2810,2024-03-04,2922,2023-10-19,2024-03-13,False,137,2024-3,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.000000,0.000000,2024-02-12,True,10,2024,7,2024
2817,2024-03-11,2922,2023-10-19,2024-03-13,False,144,2024-3,NaT,Pausados (Pedido do Dealer),34,...,0.000000,0.000000,0.000000,0.000000,2024-02-12,True,11,2024,7,2024

In [182]:
# filtro lass semanas posteriores a la baja
df_final = df_final[(df_final['foto_dia'] <= df_final['fecha_baja_en_{}dias'.format(horizon_days)]) | (df_final['fecha_baja_en_{}dias'.format(horizon_days)].isnull()) ]

In [183]:
#aca marco las bajas en el dia que quedó de la semana de la baja
df_final['baja_en_30d_b'] = np.where((df_final['baja_week_30d'] == df_final['foto_week']) & (df_final['baja_year_30d'] == df_final['foto_year']),
         True,
         False)

In [184]:
sobrevivientes = set(df_final[df_final['baja_en_30d_b'] == True].id_dealer.unique())

In [185]:
#estos son dealers que se pierden porque se fueron justo en octubre 2023 
set(df_final[df_final.baja==True].id_dealer.unique()) - set(sobrevivientes)

set()

In [187]:
df_final[df_final['baja_en_30d_b'] == True].id_dealer.nunique()

75

In [188]:
df_final_min[df_final_min.id_dealer == 1041083052]

,foto_dia,id_dealer,antiguedad,mes_foto_dia,days_in_foto_stage_Amarelo,days_in_foto_stage_Amarelo_perc,days_in_foto_stage_Dealers ativos,days_in_foto_stage_Dealers ativos_perc,days_in_foto_stage_Desativados (Decisão da Karvi),days_in_foto_stage_Desativados (Decisão da Karvi)_perc,...,timeframe_2_perc,dias_acumulados,mas_1_lead_true,conc_leads_1,conc_leads_2,conc_leads_1_avg_30,conc_leads_2_avg_30,foto_week,foto_year,baja_en_30d_b
21211,2024-01-15,1041083052,0,2024-1,0,NaN,0,NaN,0,NaN,...,NaN,0,NaN,0.0,0.0,NaN,NaN,3,2024,False
21218,2024-01-22,1041083052,7,2024-1,0,0.0,0,0.000000,0,0.0,...,NaN,0,NaN,0.0,0.0,NaN,NaN,4,2024,False
21225,2024-01-29,1041083052,14,2024-1,0,0.0,1,0.071429,0,0.0,...,NaN,0,0.0,0.0,0.0,NaN,NaN,5,2024,False
21232,2024-02-05,1041083052,21,2024-2,0,0.0,3,0.142857,0,0.0,...,NaN,4,0.0,0.0,0.0,NaN,NaN,6,2024,False
21239,2024-02-12,1041083052,28,2024-2,0,0.0,3,0.107143,0,0.0,...,NaN,11,0.0,0.0,0.0,NaN,NaN,7,2024,False
21246,2024-02-19,1041083052,35,2024-2,0,0.0,3,0.085714,0,0.0,...,1.0,18,NaN,0.0,0.0,0.066667,0.033333,8,2024,False
21253,2024-02-26,1041083052,42,2024-2,0,0.0,3,0.071429,0,0.0,...,1.0,25,NaN,0.0,0.0,0.066667,0.033333,9,2024,False
21260,2024-03-04,1041083052,49,2024-3,0,0.0,3,0.061224,0,0.0,...,1.0,32,NaN,0.0,0.0,0.066667,0.033333,10,2024,True

In [229]:
df_final_vars = df_final.drop([
         'fecha_alta',
         'fecha_baja',
         'foto_stage',
         'date_stage_change',
         'days_in_foto_stage_Saíram do projeto',
        'days_in_foto_stage_Saíram do projeto_perc',
         'Fecha', 
         'storeID', 
         'fecha_baja_en_{}dias'.format(horizon_days),
         'baja_en_{}dias'.format(horizon_days), 
         #'baja_week_30d', 
         #'baja_year_30d',
         'count_cars',
         'baja_week_30d',
         'baja_year_30d',
         'baja'
         ], 
        axis=1)

df_final_vars

,foto_dia,id_dealer,antiguedad,mes_foto_dia,days_in_foto_stage_Amarelo,days_in_foto_stage_Amarelo_perc,days_in_foto_stage_Dealers ativos,days_in_foto_stage_Dealers ativos_perc,days_in_foto_stage_Desativados (Decisão da Karvi),days_in_foto_stage_Desativados (Decisão da Karvi)_perc,...,timeframe_2_perc,dias_acumulados,mas_1_lead_true,conc_leads_1,conc_leads_2,conc_leads_1_avg_30,conc_leads_2_avg_30,foto_week,foto_year,baja_en_30d_b
0,2023-10-30,1065,0,2023-10,0,NaN,0,NaN,0,NaN,...,NaN,0,NaN,0.0,0.000000,NaN,NaN,44,2023,False
7,2023-11-06,1065,7,2023-11,0,0.000000,1,0.142857,0,0.000000,...,NaN,0,0.0,0.0,0.000000,NaN,NaN,45,2023,False
14,2023-11-13,1065,14,2023-11,0,0.000000,2,0.142857,0,0.000000,...,NaN,5,0.0,0.0,0.000000,NaN,NaN,46,2023,False
21,2023-11-20,1065,21,2023-11,0,0.000000,2,0.095238,0,0.000000,...,NaN,12,0.0,0.0,0.000000,NaN,NaN,47,2023,False
28,2023-11-27,1065,28,2023-11,0,0.000000,2,0.071429,0,0.000000,...,NaN,19,0.0,0.0,0.000000,NaN,NaN,48,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42685,2024-04-15,4289232776,159,2024-4,15,0.094340,0,0.000000,0,0.000000,...,0.0,123,1.0,1.0,0.012821,0.467778,0.010713,16,2024,False
42692,2024-04-22,4289232776,166,2024-4,15,0.090361,0,0.000000,0,0.000000,...,0.0,130,0.0,0.0,0.000000,0.534444,0.011557,17,2024,False
42699,2024-04-29,4289232776,173,2024-4,15,0.086705,0,0.000000,0,0.000000,...,0.0,137,0.0,0.0,0.000000,0.434444,0.010044,18,2024,False
42706,2024-05-06,4289232776,180,2024-5,15,0.083333,0,0.000000,4,0.022222,...,0.0,3,NaN,0.0,0.000000,0.358889,0.006786,19,2024,False
42713,2024-05-13,4289232776,187,2024-5,20,0.106952,0,0.000000,5,0.026738,...,0.0,0,0.0,0.0,0.000000,0.233333,0.003051,20,2024,False

In [230]:
df_final_vars.columns

Index(['foto_dia', 'id_dealer', 'antiguedad', 'mes_foto_dia',
       'days_in_foto_stage_Amarelo', 'days_in_foto_stage_Amarelo_perc',
       'days_in_foto_stage_Dealers ativos',
       'days_in_foto_stage_Dealers ativos_perc',
       'days_in_foto_stage_Desativados (Decisão da Karvi)',
       'days_in_foto_stage_Desativados (Decisão da Karvi)_perc',
       'days_in_foto_stage_Pausados (Pedido do Dealer)',
       'days_in_foto_stage_Pausados (Pedido do Dealer)_perc',
       'days_in_foto_stage_Saídas com pendências financeiras',
       'days_in_foto_stage_Saídas com pendências financeiras_perc',
       'days_in_foto_stage_Serasa', 'days_in_foto_stage_Serasa_perc',
       'days_in_foto_stage_Verde', 'days_in_foto_stage_Verde_perc',
       'days_in_foto_stage_Vermelho', 'days_in_foto_stage_Vermelho_perc',
       'stock', 'sent_leads', 'financiamiento', 'vehiculo', 'segmento_0',
       'segmento_1', 'segmento_2', 'segmento_3', 'timeframe_0', 'timeframe_1',
       'timeframe_2', 'sent_leads_sum', 'financiamiento_sum', 'vehiculo_sum',
       'segmento_0_sum', 'segmento_1_sum', 'segmento_2_sum', 'segmento_3_sum',
       'timeframe_0_sum', 'timeframe_1_sum', 'timeframe_2_sum',
       'financiamiento_perc', 'vehiculo_perc', 'segmento_0_perc',
       'segmento_1_perc', 'segmento_2_perc', 'segmento_3_perc',
       'timeframe_0_perc', 'timeframe_1_perc', 'timeframe_2_perc',
       'dias_acumulados', 'mas_1_lead_true', 'conc_leads_1', 'conc_leads_2',
       'conc_leads_1_avg_30', 'conc_leads_2_avg_30', 'foto_week', 'foto_year',
       'baja_en_30d_b'],
      dtype='object')

In [231]:
df_final_vars.stock = df_final_vars.stock.fillna(0)

In [232]:
df_final_vars[~(df_final_vars.foto_dia > '2024-04-01')].baja_en_30d_b.value_counts()

baja_en_30d_b
False    3934
True       69
Name: count, dtype: int64

In [233]:
df_final_vars

,foto_dia,id_dealer,antiguedad,mes_foto_dia,days_in_foto_stage_Amarelo,days_in_foto_stage_Amarelo_perc,days_in_foto_stage_Dealers ativos,days_in_foto_stage_Dealers ativos_perc,days_in_foto_stage_Desativados (Decisão da Karvi),days_in_foto_stage_Desativados (Decisão da Karvi)_perc,...,timeframe_2_perc,dias_acumulados,mas_1_lead_true,conc_leads_1,conc_leads_2,conc_leads_1_avg_30,conc_leads_2_avg_30,foto_week,foto_year,baja_en_30d_b
0,2023-10-30,1065,0,2023-10,0,NaN,0,NaN,0,NaN,...,NaN,0,NaN,0.0,0.000000,NaN,NaN,44,2023,False
7,2023-11-06,1065,7,2023-11,0,0.000000,1,0.142857,0,0.000000,...,NaN,0,0.0,0.0,0.000000,NaN,NaN,45,2023,False
14,2023-11-13,1065,14,2023-11,0,0.000000,2,0.142857,0,0.000000,...,NaN,5,0.0,0.0,0.000000,NaN,NaN,46,2023,False
21,2023-11-20,1065,21,2023-11,0,0.000000,2,0.095238,0,0.000000,...,NaN,12,0.0,0.0,0.000000,NaN,NaN,47,2023,False
28,2023-11-27,1065,28,2023-11,0,0.000000,2,0.071429,0,0.000000,...,NaN,19,0.0,0.0,0.000000,NaN,NaN,48,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42685,2024-04-15,4289232776,159,2024-4,15,0.094340,0,0.000000,0,0.000000,...,0.0,123,1.0,1.0,0.012821,0.467778,0.010713,16,2024,False
42692,2024-04-22,4289232776,166,2024-4,15,0.090361,0,0.000000,0,0.000000,...,0.0,130,0.0,0.0,0.000000,0.534444,0.011557,17,2024,False
42699,2024-04-29,4289232776,173,2024-4,15,0.086705,0,0.000000,0,0.000000,...,0.0,137,0.0,0.0,0.000000,0.434444,0.010044,18,2024,False
42706,2024-05-06,4289232776,180,2024-5,15,0.083333,0,0.000000,4,0.022222,...,0.0,3,NaN,0.0,0.000000,0.358889,0.006786,19,2024,False
42713,2024-05-13,4289232776,187,2024-5,20,0.106952,0,0.000000,5,0.026738,...,0.0,0,0.0,0.0,0.000000,0.233333,0.003051,20,2024,False

In [234]:
df_final_vars.groupby('mes_foto_dia').baja_en_30d_b.value_counts()

mes_foto_dia  baja_en_30d_b
2023-10       False             319
              True                6
2023-11       False             475
              True                4
2023-12       False             584
              True                7
2024-1        False             786
              True                8
2024-2        False             713
              True               24
2024-3        False             844
              True               11
2024-4        False            1088
              True               15
2024-5        False             471
Name: count, dtype: int64

In [235]:
df_final_vars[df_final_vars.baja_en_30d_b==True].id_dealer.nunique()

75

armo train y test con el mes de la foto dia

In [259]:
df_final_vars.fillna(0, inplace=True)
df_final_vars.replace([np.inf, -np.inf], np.nan, inplace=True)

/var/folders/sx/tz5wk10n1xlck9z6g98chpqc0000gn/T/ipykernel_25401/518742035.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_final_vars.replace([np.inf, -np.inf], np.nan, inplace=True)

In [260]:
cols_to_drop = ['foto_dia', 'id_dealer', 'mes_foto_dia', 'foto_week', 'foto_year']

In [261]:
#train antes que abril
train = df_final_vars[df_final_vars.foto_dia < "2024-4-1"]
train = train.drop(cols_to_drop, axis=1)
train.baja_en_30d_b.value_counts()
train.head()

,antiguedad,days_in_foto_stage_Amarelo,days_in_foto_stage_Amarelo_perc,days_in_foto_stage_Dealers ativos,days_in_foto_stage_Dealers ativos_perc,days_in_foto_stage_Desativados (Decisão da Karvi),days_in_foto_stage_Desativados (Decisão da Karvi)_perc,days_in_foto_stage_Pausados (Pedido do Dealer),days_in_foto_stage_Pausados (Pedido do Dealer)_perc,days_in_foto_stage_Saídas com pendências financeiras,...,timeframe_0_perc,timeframe_1_perc,timeframe_2_perc,dias_acumulados,mas_1_lead_true,conc_leads_1,conc_leads_2,conc_leads_1_avg_30,conc_leads_2_avg_30,baja_en_30d_b
0,0,0,0.0,0,0.000000,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,False
7,7,0,0.0,1,0.142857,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,False
14,14,0,0.0,2,0.142857,0,0.0,0,0.0,0,...,0.0,0.0,0.0,5,0.0,0.0,0.0,0.0,0.0,False
21,21,0,0.0,2,0.095238,0,0.0,0,0.0,0,...,0.0,0.0,0.0,12,0.0,0.0,0.0,0.0,0.0,False
28,28,0,0.0,2,0.071429,0,0.0,0,0.0,0,...,0.0,0.0,0.0,19,0.0,0.0,0.0,0.0,0.0,False

In [262]:
#test en abril
test = df_final_vars[df_final_vars.mes_foto_dia == "2024-4"]
test = test.drop(cols_to_drop, axis=1)
test.baja_en_30d_b.value_counts()
test.head()

,antiguedad,days_in_foto_stage_Amarelo,days_in_foto_stage_Amarelo_perc,days_in_foto_stage_Dealers ativos,days_in_foto_stage_Dealers ativos_perc,days_in_foto_stage_Desativados (Decisão da Karvi),days_in_foto_stage_Desativados (Decisão da Karvi)_perc,days_in_foto_stage_Pausados (Pedido do Dealer),days_in_foto_stage_Pausados (Pedido do Dealer)_perc,days_in_foto_stage_Saídas com pendências financeiras,...,timeframe_0_perc,timeframe_1_perc,timeframe_2_perc,dias_acumulados,mas_1_lead_true,conc_leads_1,conc_leads_2,conc_leads_1_avg_30,conc_leads_2_avg_30,baja_en_30d_b
154,154,0,0.0,2,0.012987,0,0.0,63,0.409091,0,...,0.0,0.0,0.0,62,0.0,0.0,0.0,0.0,0.0,False
161,161,0,0.0,2,0.012422,0,0.0,70,0.434783,0,...,0.0,0.0,0.0,69,0.0,0.0,0.0,0.0,0.0,False
168,168,0,0.0,2,0.011905,0,0.0,77,0.458333,0,...,0.0,0.0,0.0,76,0.0,0.0,0.0,0.0,0.0,False
175,175,0,0.0,2,0.011429,0,0.0,84,0.480000,0,...,0.0,0.0,0.0,83,0.0,0.0,0.0,0.0,0.0,False
182,182,0,0.0,2,0.010989,0,0.0,91,0.500000,0,...,0.0,0.0,0.0,90,0.0,0.0,0.0,0.0,0.0,False

In [263]:
# charla con caro
# train y test hay que dividirlos por fecha: predecir sobre marzo
# hacer por semana y hacer la Y semanal

In [264]:
train.to_csv("data/train.csv", index=False)
test.to_csv("data/test.csv", index=False)

In [258]:
train

,antiguedad,days_in_foto_stage_Amarelo,days_in_foto_stage_Amarelo_perc,days_in_foto_stage_Dealers ativos,days_in_foto_stage_Dealers ativos_perc,days_in_foto_stage_Desativados (Decisão da Karvi),days_in_foto_stage_Desativados (Decisão da Karvi)_perc,days_in_foto_stage_Pausados (Pedido do Dealer),days_in_foto_stage_Pausados (Pedido do Dealer)_perc,days_in_foto_stage_Saídas com pendências financeiras,...,timeframe_0_perc,timeframe_1_perc,timeframe_2_perc,dias_acumulados,mas_1_lead_true,conc_leads_1,conc_leads_2,conc_leads_1_avg_30,conc_leads_2_avg_30,baja_en_30d_b
0,0,0,0.000000,0,0.000000,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,0.000000,False
7,7,0,0.000000,1,0.142857,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,0.000000,False
14,14,0,0.000000,2,0.142857,0,0.0,0,0.0,0,...,0.0,0.0,0.0,5,0.0,0.0,0.000000,0.000000,0.000000,False
21,21,0,0.000000,2,0.095238,0,0.0,0,0.0,0,...,0.0,0.0,0.0,12,0.0,0.0,0.000000,0.000000,0.000000,False
28,28,0,0.000000,2,0.071429,0,0.0,0,0.0,0,...,0.0,0.0,0.0,19,0.0,0.0,0.000000,0.000000,0.000000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42636,110,15,0.136364,0,0.000000,0,0.0,0,0.0,0,...,1.0,0.0,0.0,74,0.0,0.0,0.000000,0.000000,0.000000,False
42643,117,15,0.128205,0,0.000000,0,0.0,0,0.0,0,...,1.0,0.0,0.0,81,0.0,0.0,0.000000,0.000000,0.000000,False
42650,124,15,0.120968,0,0.000000,0,0.0,0,0.0,0,...,1.0,0.0,0.0,88,1.0,1.0,0.014286,0.033333,0.000476,False
42657,131,15,0.114504,0,0.000000,0,0.0,0,0.0,0,...,1.0,0.0,0.0,95,0.0,0.0,0.000000,0.166667,0.003758,False
42664,138,15,0.108696,0,0.000000,0,0.0,0,0.0,0,...,1.0,0.0,0.0,102,1.0,1.0,0.014493,0.200000,0.004241,False